<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="MiConexionBD"
             connectionString="Data Source=LAPTOP-G9JDE61I\SQLEXPRESS04;Initial Catalog=hotel;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
		<add name="AlternateConnection"
             connectionString="Server=tcp:LAPTOP-G9JDE61I\SQLEXPRESS04;Database=hotel;Integrated Security=True;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>